.all-restaurants {

    .search-restaurant {
        width: 95%;
        margin: 45px 0 0 1.5% ;
        font-size: 1.3em;
    }
    .fa-search {
        font-size: 1.3em;
        margin-left: 9px;
        border: solid black 2px;
        padding: 3px;
    }

}