.restaurant-container {
    height: 95px;
    border-top: .5px solid rgba(0,0,0,0.2);
    border-bottom: .5px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 10px 0;
    img {
        height: 85px;
    }
    .restaurant-info {
        width: 70%;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
    
        align-items: flex-start;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        .restaurant-name {
            font-size: 1.25em;
            font-family: 'Fira Sans', sans-serif;
            color: rgb(67, 121, 157);
            font-weight: bold;
        }
        .restaurant-location {
            font-family: 'Oxygen', sans-serif;
            font-size: .9em;
        }
        .rating {
            width: 100%;
            display: flex;
            align-items: center;
            

            .stars {
            
            }
            .review-count {
                font-size: .8em;
                margin-left: 5px;
                color: rgb(168, 168, 168);
            }
        }
        
    };
}