.restaurant-container {
    height: 90px;
    border-top: .5px solid rgba(0,0,0,0.2);
    border-bottom: .5px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 10px 0;
    img {
        height: 85px;
    }
    .restaurant-info {
        width: 70%;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        .restaurant-name {
            font-size: 1.17em;
        }

        .stars {
            margin-right: 165px;
        }
    };
}