.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        margin-top: 45px;
    }

    .subtitle {
        font-size: 1.2em;
    }


    .have-account {
        font-size: 1.1em;
        a {
            color: blue;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            margin: 10px 0;
            width: 100%;
            font-size: 1.3em;
            border-radius: 6px;
        }

        .register-button {
            font-size: 1.3em;
            padding: 1%;
            width: 100%;
            margin-top: 15px;
            border-radius: 6px;
        }
    }
}